<div class="row margin-top">
    <div class="col-6">
        <ul class= "vertical-center">
            <li><h1>Tech Blog</h1></li>
            <li><h3>Connect with bloggers around the</h3></li>
            <li><h3>world on Tech Blog.</h3></li>
        </ul>
    </div>

    <div class="col-6">
        <center>
            <form class="login-form col-10">
                <div class="row">
                    <p class="warning" id="warningEl"></p>
                </div>

                <div class="row">
                    <input class="input" type="email" id="email" placeholder="Email"></input>
                </div>

                <div class="row">
                    <input class="input" type="password" id="password" placeholder="Password"></input>
                </div>

                <div class="row">
                    <button class="btn" type="submit">Log In</button>
                </div>
            </form>

            <div class="col-6">
                <div class="row">
                    <button class="btn" type="submit">Create new account</button>
                </div>
            </div>
        </center>
    </div>
</div>

<script src="/javascript/login.js"></script>